.highlighting,
.editor {
  position: absolute;
  top: 0;
  left: 0;

  /* margin: 10px;
  padding: 1em; */

  width: calc(100% - 32px);
  height: calc(100% - 32px);

  /* overflow: auto;
  white-space: nowrap; */
}

.editor::before {
  counter-increment: line;
  content: counter(line);
  font-size: 1em;
  user-select: none;
  width: 5rem;
  text-align: right;
  left: 0;

  position: absolute;
}

.editor,
.highlighting,
.highlighting * {
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

pre {
  margin: 0;
}

.highlighting {
  
  padding: 0;
  z-index: 0;
}

.editor {
  resize: none;
  color: transparent;
  background: transparent;
  caret-color: black;
  z-index: 1;
}
